*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

/* .wrapper{
  
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto 90% auto;
  grid-template-areas:
  "header1 header1 header1" 
  "header header header"
  "menu menu menu"
  "left content right"
  "footer footer footer"
} */
.item{
  background: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  min-height: 50px;
}
.wrapper{
  display: grid;
  grid-template-rows: 100px 430px 1200px 700px;
  grid-row-gap: 10px;
  grid-template-areas: 
  "header header header"
  "header1 header1 header1"
  "main main main"
  "footer footer footer"
}

.header{
  grid-area: header;
  width: 100%;
  height:120px;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
  display: block;
  z-index: 1;
  background: white;
  
}
.header-1{
  padding-top: 5px;
  display: flex;
}
.header-logo img {
  width:100px;
  height: 100px;
  margin-left:100px;
  text-decoration: none;
  cursor: pointer;
 
}

#sub-menu{
font-size: 20px;
float: left;
display: flex;
list-style-type: none;
padding: 20px 0px 0px 60px;
}
#sub-menu li{
  position: relative;
}
#sub-menu li a{
  text-decoration: none;
  margin-left:40px;
  cursor: pointer;
  display: block;
  line-height: 40px;
}
#sub-menu li a:hover{
  color: rgb(255, 102, 0);
}
.header-2 a:hover{
cursor: pointer;
color: orange;
}
.header-2 a{
  text-decoration: none;
  border: 1px solid orange;
  padding: 10px;
  font-size: 20px;
 
}
.header-2{
  margin-top:38px;
  margin-left:200px;
}

#sub-menu ul.sub-menu-1{
  position: absolute;
  background: white;
  padding: 0px ;
  list-style: none;
  width: 320px;
  border: 1px solid rgb(248, 225, 217);
  display: none;
}
#sub-menu li:hover>ul.sub-menu-1{
  display: block;
} 
#sub-menu ul.sub-menu-1 a{
padding: 5px 20px;

left: 0px;
margin-left: 0px;

}
#sub-menu ul.sub-menu-1 li:last-child a{
  border: none;
}
#sub-menu ul.sub-menu-1 ul.sub-menu-1{
left: 318px;
border: 1px solid rgb(248, 225, 217);
top:-1px

}
.header1{
  grid-area: header1;
}
.main{
  grid-area: main;
  width: 100%;
  position: relative;
  top :0;
}
.mid-main{
  margin-top: -400px;
}
.mid-main p{
margin-left:560px;
padding-top: 20px;
position: absolute;
font-size: 40px;
color: orangered;
}
.mid-main img{
  background-size: 100%;
  padding-top:  530px;
  margin-left: 420px;
  
}

.content-main img{
width: 600px;height: 350px;
margin-left: -20px;
padding-top: 0px;
display: flex;
float: left;
}
.tb-1{
  float: left;
  display: flex;
  margin-top: 50px;
  margin-left: 120px;
  background-color: rgb(241, 241, 241);
  border: 1px  solid rgb(255, 255, 255);
   padding: 10px 70px;
}
.tb-1 td li{
 
  margin: 30px;
  font-size: 18px;
}
.content-main-1 fieldset{
width: 300px;
padding: 0px;
border: 3px solid orangered;
text-align: center;
font-size: 25px;
line-height: 50px;
margin-left: 60px;
margin-top: 10px;
}
.content-main-1 b{
  font-size: 35px;
  color: orangered;
}

.content-main-2 p{
  font-size: 15px;
  text-align: left;
  margin-top: 130px;
  margin-left: -300px;
  line-height: 25px;
}
.bt-1 {
  margin-left:-320px;
  margin-top: 250px;
}
.bt-1 button a{
  text-decoration: none;
padding: 15px 5px 15px 15px;
font-size: 20px;

}
.bt-1 button {
  margin-left: 30px;
  background: rgb(255, 145, 0);
  padding: 15px;
}
.bt-1 button a:hover{
  color: white;
}
.content-main-3{
  margin-left: 250px;
  margin-top: 440px;
  display: flex;
  position: absolute;
}

.content-main-3 ul{
  list-style: none;
}
.content-main-3 li{
  margin-top: 5px;
  color: rgb(0, 0, 0);
}
.main_mobile{
  color: orangered;
   font-size: 40px;
    margin-top:450px;
    position: absolute;
    margin-left: 540px;
}
#map_mobile{
  display: flex;
   width: 350px;
   height: 250px;
   margin-top: 30px;
   padding-left: 40px;
}

.content-main-3 li a{
  text-decoration: none;
  line-height: 40px;
  padding: 20px;
  border: 1px solid black ;
  background:orange ;
  display: block;
  border-radius: 12px;
  position: relative;
  
}
details{
  display: block;
}
details li {
line-height: 25px;
margin-left: 10px;
}
summary{
  border: 1px solid black;
  border-radius: 4px;
  background: orange;
  cursor: pointer;
  padding: 10px;
  margin-left: -20px;
  text-align: center;
}
.content-main-5{
  margin-left: 50px;
}
.content-main-5 img{
  width: 100px;height: 100px;
  margin-top: 10px;
  margin-left: 30px;
}
.content-main-6{
  margin-left: 50px;
}

.img-1 img{
  width: 200px;
  height: 200px;
  margin-left: 800px;
  margin-top: 160px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  
}
.img-1:hover img{
  transform: scale(1.1);
}
.img-1 p{
  font-size: 30px;
  margin-left: 680px;
  margin-top: 380px;
  position: absolute;
  border: 1px solid rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  padding: 10px;
  
}
.img-1 a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
 
}
.img-1 a:hover{
  color:orangered;
}
.footer{
  margin-top: 50x;
  grid-area: footer;

}
.boder-footer{
  border: 5px solid black;
 
width: 100%;
}
.footer-img img{
  width: 420px;
  height: 418px;
  display: flex;
  float: left;
  margin-top: 100px;
  margin-left: 200px;
}
.footer-content{
  font-size: 20px;
  line-height: 20px;
  margin-top: 110px;
 float: left;
 display: block;
  
}
.footer-content p{
  margin-left: 30px;
  font-family: 'averta';
  text-align: left;
}
.footer-content-1 {
  display: block;
  margin-top: 420px;
  position: absolute;
}
.footer_logo_mobile{
  display: block;
   position: absolute;
   margin-top: 50px;
    margin-left: 700px;
}
.footer-content-1 h2{
  font-size: 17px;
  line-height: 25px;
  
}
.footer-content-1 a{
  text-decoration: none;
  cursor: pointer;
  margin-left: 660px;
}
.footer-content-1 a:hover{
  color: orange;
}
.footer-content-2 {
  display: block;
  position: absolute;
  margin-top: 420px;
}
.footer-content-2 h2{
  font-size: 17px;
  line-height: 25px;
  
}
.footer_mobile-img{
  display: flex;
   width: 370px;
   height: 250px;
   margin-top: 40px;
   padding-left: 40px;
}
.footer-content-2 a{
  text-decoration: none;
  cursor: pointer;
  margin-left: 950px;
}
.footer-content-2 a:hover{
  color: orange;
}
.img-footer img{
  width: 30px;height: 30px;
  cursor: pointer;
  
  }
  .z-index{
    margin-left: 100px;
  }
  #icons{
    display: none;
  }
  .nav__mobile{
    display: none;
  }
  .nav_input{
    display: none;
  }
  

  @media(max-width:600px){
    .header{
      width: 100%;
      
    }
    .header-logo img{
      width: 100px;
      height: 100px;
      margin-left: 100px;
    }
    .header-logo {
      margin-left: -100px;
      
    }
    
    
  }
 /* tablet */
  @media(min-width: 741px) and (max-width:1366px) {
    #icons{
      display: none;
    }
    .header{
      width: 100%;
      
    }
    .header-logo img{
      width: 80px;
      height: 80px;
      margin-left: 100px;
    }
    .header-logo {
      margin-left: -110px;
      
    }
    .fonts{
      font-size: 13px;
      padding-top: 10px;
    }
    #sub-menu a{
     padding-top: 10px;
      font-size: 13px;
    }
    .sub-menu-1{
      margin-left: 10px;
    }
    .header-2 a{
      margin-left: -185px;
      font-size: 10px;
      margin-top: 30px;
    }
    .none{
      display: none;
    }
  }
 
  /* mobile */
  @media(max-width : 740px){
    .header{
      width: 100%;
      z-index: 900;
    }
    .header-logo img{
      width: 80px;
      height: 80px;
      margin-left: 100px;
      margin-top: 10px;
      
    }
    .header-logo {
      margin-left: -110px;
      
    }
    .fonts{
      font-size: 13px;
      padding-top: 10px;
    }
    .header1 img{
      width: 420px;
     
    }
    
    #icons{
      display: block;
      margin-left: 250px;
      position: absolute;
      padding-top: 45px;
    }
    #sub-menu{
      display: none;
    }
    .overlay{
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,0.3);
      display: none;
      animation: fadeIn linear 0.2s;
    }
    
    .nav__mobile{
      right: 0;
      bottom: 0;
      top: 0;
      position: fixed;
      width: 320px;
      max-width: 100%;
      background-color: white;
      transform: translateX(100%);
      opacity: 0;
      transition: transform linear 0.2s , opacity linear 0.2s;
      display: block;
    }
    .nav_input{
      display: none;
    }
    .nav_input:checked ~ .overlay{
      display: block;
    }
    .nav_input:checked ~ .nav__mobile{
      transform: translateX(0%);
      opacity: 1;
    }
  
    #sub-menu_mobile a {
      margin-top: 40px;
      text-decoration: none;
      color: black;
      
    }
    .sub-menu-1_mobile ul li{
      text-decoration: none;
      color: black;
    
    }
   
    #sub-menu_mobile li{
      position: relative;
      margin-left: 30px;
    }
    #sub-menu_mobile li a{
      text-decoration: none;
      margin-left:40px;
      cursor: pointer;
      display: block;
      line-height: 30px;
    }
    #sub-menu_mobile li a:hover{
      color: rgb(255, 102, 0);
    }
    #sub-menu_mobile ul.sub-menu-1_mobile{
      position: absolute;
      background: rgb(255, 255, 255);
      padding: 0px ;
      list-style: none;
      width: 320px;
      border: 1px solid rgb(248, 225, 217);
      display: none;
      z-index: 1;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.8);
      width: 260px;
    }
    #sub-menu_mobile li:hover>ul.sub-menu-1_mobile{
      display: block;
    } 
    #sub-menu_mobile ul.sub-menu-1_mobile a{
    padding: 5px 20px;
    
    left: 0px;
    margin-left: 0px;
    
    }
    #sub-menu_mobile ul.sub-menu-1_mobile li:last-child a{
      border: none;
    }
    #sub-menu_mobile ul.sub-menu-1_mobile ul.sub-menu-1_mobile{
    left: 318px;
    border: 1px solid rgb(248, 225, 217);
    top:-1px
    
    }
    #close{
      right: 0;
      position: absolute;
      top: 0.5rem;
      font-size: 35px;
    }
    @keyframes fadeIn {
      from{
        opacity: 0;
      }
      to{
        opacity: 1;
      }
    }
    .header-2 a{
      margin-left: -100px;
      font-size: 15px;
    }
    .header-2{
      padding-top: 10px;
    }
    .mid-main{
      .main_mobile {
        font-size: 15px;
        margin-left: 35px;
        margin-top: 50px;
        }
    }
    .img_mobile img{
      margin-left: 10px;
      margin-top: -440px;
      width: 350px;
      height: 610px;
    }
    .tb-1{
      background-color: white;
    }
    
    .content-main img{
      width: 400px;
      height: 220px;
      margin-left: -190px;
      margin-top: -50px;
    }
  .tb-1{
     .table_mobile li{
        font-size: 16px;
    }
    .table_mobile{
       font-size: 15px;
       margin-left: -400px;
       margin-top: 170px;
    }
  }
  .content-main-1 fieldset{
    font-size: 15px;
  }
   .content-main-1 b{
    font-size: 20px;
  }
  .content-main-2 p{
    font-size: 10px;
    margin-left: -290px;
  }
  .content-main-2{
    .bt-1 a{
      font-size: 13px;
      margin-left: -20px; 
    }
  }
  .bt-1{
    margin-top: 300px;
  }
  .content-main-1{
    margin-left: -220px;
    margin-top: 480px;
    position: absolute;
  }
  .content-main-2{
    margin-top: 450px;
    margin-left: 130px;
    position: absolute;
  }
  .content-main-3{
    .content-main-4{
      position: absolute;
      margin-left: -220px;
      margin-top: 800px;
      font-size: 10px;
    }
    .content-main-4 ul{
      margin-left: -31px;
      overflow: hidden;
    }
  }
  .content-main-6{
    position: absolute;
    margin-left: -1210px;
    font-size: 10px;
    margin-top: 800px;
    
  }
  .content-main-6 ul{
    margin-left: -28px;
    overflow: hidden;
  }
  .content__mobile{
    position: absolute;
    margin-left: -556px;
    font-size: 10px;
    margin-top: 800px;
    z-index: 1;
 
  }
  .content__mobile ul{
    margin-left: -28px;
    overflow: hidden;
  }
  .img-1 img{
    width: 150px;
    height: 150px;
    margin-left: -330px;
    margin-top: 900px;
  }
  .img-1 p {
    margin-left: 30px;
    margin-top: 1100px;
    font-size: 18px;
  }
  .footer{
    z-index: 800;
    height: 1100px;
    .boder-footer{
      width: 460px;
    }
  }
  .footer-img img{
    width: 170px;
    height: 180px;
    margin-left: 20px;
    margin-top: 40px;
  }
  .footer-content-1{
    display: none;
    
  }
 
  .footer-content-2{
    display: none;
  }
  
  .footer-content{
    font-size: 20px;
    text-align: left;
    margin-left: -10px;
    margin-top: 270px;
    display: block;
    position: absolute;
  }
  .z-index img{
    width: 250px;
    height: 150px;
    margin-left: 50px;
  }
  
  #map_mobile{
    display: block;
     width: 100px;
     height: 100px;
     margin-top: 600px;
     margin-left: -120px;
  }
  .footer_logo_mobile{
margin-left: 30px;
margin-top: 170px;
  } 
 

}


